<div class="container mt-3" style="height: 80vh">
    <h2>Comming Soon !!!!</h2>
    <div class="mt-4 p-5 bg-primary text-white rounded">
        <h1>Tính năng đang được phát triển</h1>
    </div>
</div>
<div>
    <a asp-action="ListWorkspace">Trở về không gian làm việc</a>
</div>