@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="rounded-5 ">
                <img class="img-fluid" src="https://m.media-amazon.com/images/I/6183CS68WcL._AC_UF1000,1000_QL80_.jpg" />
            </div>
        </div>
        <aside class="col-4">
            <div class="container mt-4">
                <h2>Teamwork</h2>
                <p>
                    Trong môi trường làm việc hiện đại, teamwork hay làm việc nhóm đã trở thành yếu tố thiết yếu cho sự thành công của bất kỳ dự án nào. Teamwork không chỉ đơn thuần là sự phối hợp giữa các cá nhân, mà còn là một quá trình kết hợp các kỹ năng, kiến thức và sức mạnh của từng thành viên để đạt được mục tiêu chung.

                    Khi làm việc trong một nhóm, mỗi thành viên đóng góp những kinh nghiệm và quan điểm độc đáo của mình, giúp mở rộng phạm vi tư duy và tìm ra các giải pháp sáng tạo hơn. Sự tương tác và hỗ trợ lẫn nhau trong nhóm không chỉ giúp tăng cường khả năng giải quyết vấn đề, mà còn nâng cao hiệu quả làm việc và tạo ra một môi trường làm việc tích cực.

                    Một nhóm làm việc hiệu quả cần có sự giao tiếp rõ ràng, sự tôn trọng lẫn nhau, và khả năng phối hợp linh hoạt. Việc thiết lập các mục tiêu chung rõ ràng và phân chia công việc hợp lý là rất quan trọng để đảm bảo rằng tất cả các thành viên đều đi đúng hướng và đóng góp vào thành công chung của dự án.

                    Trong một nhóm, sự động viên và hỗ trợ từ các thành viên có thể giúp vượt qua các thử thách và đạt được kết quả tốt hơn so với làm việc đơn lẻ. Teamwork không chỉ giúp đạt được mục tiêu dự án mà còn phát triển các kỹ năng cá nhân, xây dựng mối quan hệ bền vững và tạo ra một tinh thần đoàn kết mạnh mẽ.
                </p>
            </div>
        </aside>
    </div>
    <div class="mt-4 mb-2">
        <div class="container">
            <a class="btn-lg btn-primary form-control text-center" asp-action="Login" asp-controller="User"> Thử Ngay</a>
        </div>
    </div>
</div>


